:root {
  --fuentePrincipal: 'Lato', sans-serif;
  --fuenteSecundaria: 'Oswald', sans-serif;
  --ColorPurple: #660066;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fuentePrincipal);
  font-weight: 400;
}

/* Utilidades */
.bg-purple {
  background: var(--ColorPurple)!important;
}

/* Header */
.site-header nav a.navbar-brand {
  font-size: 40px;
  font-family: var(--fuentePrincipal);
}
nav a {
  font-family: var(--fuenteSecundaria);
  font-size: 20px;
}

/* Hero */
#yo-soy {
  height: 893px;
}
p.titulo-yo {
  font-size: 50px;
}
.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 737px
  }

/* Sobre Mi */
#sobre-mi {
padding-left: 200px;
padding-right: 200px;
}
#sobre-mi h2 {
  font-size: 25px;
  line-height: 50px;
}
#sobre-mi p {
  font-family: var(--fuenteSecundaria);
  font-weight: 200;
  line-height: 40px;
}
h3.experiencia-text,
h4.experiencia-sub {
  font-family: var(--fuenteSecundaria) !important;
  font-size: 25px;
}

/* Mis Ultimos Trabajos */

#mis-ultimos-trabajos p.bajada-trabajo {
  font-family: var(--fuenteSecundaria);
}



.separador {
    border-bottom: 2px solid #000;
    width: 100px;
}

.separadora {
    border-bottom: 2px solid #fff;
    width: 100px;
    display: flex;
    justify-content: center;
}

.iconos i {
  color: var(--ColorPurple);
}

.icons-footer i {
  color: #fff;
}

.hero-image {
  background-image: url(../img/bg_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 54.063rem;
  padding: 3.75rem 0 5rem 0;

}

.centrado {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-10%, -150%);
  font-size: 44px;
}

.centrados {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -90%);
  font-size: 44px;
  border-bottom: 1px solid #fff;
}


h1.bottom-align-text {
    position: absolute;
    bottom: 100px;
    right: 27%;
    font-size: 72px;
    line-height: 65px;
}
p.bottom-align-text {
  position: absolute;
  bottom: 10px;
  right: 10%;
  font-size: 72px;
  line-height: 70px;
  border-top: 2px solid #fff;
}

@media only screen and (min-width:1000px ) {
  h1.bottom-align-text {
    position: absolute;
    bottom: 100px;
    right: 40%;

    margin-bottom: 30px;
    
  }
  p.bottom-align-text {
    position: absolute;
    bottom: 10px;
    right: 35%;

    margin-bottom: 30px;
  }
}
